/*Foundation Overrides*/
a {
  color: #D7E8F1;
}
a:hover, a:focus {
  color: #C05A44;
}

/*colors ,#182F4E= dark blue, #D7E8F1= light blue, #1B437A mid blue, #C05A44=orange*/

footer{
	background-color:#182F4E;
 	padding-top:60px;
}

footer .row {
  max-width: 62.5rem;
}

.contact h2{
	font-size:15pt; 
	color:#D7E8F1;
}
.contact p{
	
	font-size:10pt; 
	color:#D7E8F1;
}
.facebook{
	position: relative;
}
.facebook h2{
	font-size:17pt; 
	color:#D7E8F1;
}
.facebook img{
	height: 50%;
	width: 50%;
}
.room {
	
}

.outside {
	padding-top: 50px;
}
.link{
	font-size: 14px;
	color:#1B437A;
	margin-top: 30px;
}
small{
	color:#D7E8F1;
}
.footer-menu li{
     list-style:none;
     display:inline-block;
     float: left;
     font-size: 12px;
	   color:#1B437A;
}
.block{
	color:#D7E8F1; 
	background:#D7E8F1;
  
    display:block;
    border:none;
    height:6px;
    width:6px;
    line-height:0;
    margin:7px 6px;
    -moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	-moz-transition: all 0.3s ease;
 	-o-transition: all 0.3s ease;
 	-webkit-transition: all 0.3s ease;
 	transition: all 0.3s ease; 
}
form{
  color:#D7E8F1;
  width: 320px;
  margin: 30px auto;
  font-size: 16px;
  transform: translateZ(0);
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #C05A44;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #C05A44;
}
.top-bar {
  background: #182F4E;

}
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background: #182F4E;
}
.top-bar-section ul li {
  background: #182F4E;
}
.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #D7E8F1;
  padding: 12px 0 12px 0;
  padding-left: 0.9375rem;
  font-family: PT Sans, sans serif;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #C05A44;
  background: #D7E8F1;
}
@media only screen and (max-width: 40.063em) {
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #C05A44;
  }
  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #C05A44;
  }
  .top-bar {
    background: #182F4E;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.9375rem;
    line-height: 2.8125rem;
    background: #182F4E;
  }
  .top-bar-section ul li {
  background: #182F4E;
}
  .top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: #D7E8F1;
    padding: 12px 0 12px 0;
    padding-left: 0.9375rem;
    font-family: PT Sans, sans serif;
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: none;
  }
  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #C05A44;
    background: #D7E8F1;
  }
  .contact{
    text-align: center;
  }
  .link{
    text-align: center;
  }
  .last{
    text-align: center;
  }
}

