/*Foundation Overrides*/
a {
  color: #D7E8F1;
}
a:hover, a:focus {
  color: #C05A44;
}
@media only screen and (min-width: 40.063em) {
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #C05A44;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #C05A44;
}
.top-bar {
  background: #182F4E;
  overflow: visible;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background: #182F4E;
}
.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #D7E8F1;
  padding: 12px 0 12px 0;
  padding-left: 0.9375rem;
  font-family: PT Sans, sans serif;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #C05A44;
  background: #D7E8F1;
}

/*colors ,#182F4E= dark blue, #D7E8F1= light blue, #1B437A mid blue, #C05A44=orange*/

footer{
	width:100%;
	height: 550px; 
	background-color:#182F4E;
	background-size:100%;
 	background-position:center;
 	padding-top:60px;

}

.contact h2{
	font-size:15pt; 
	color:#D7E8F1;
}
.contact p{
	
	font-size:10pt; 
	color:#D7E8F1;
}
.facebook{
	position: relative;
}
.facebook h2{
	font-size:17pt; 
	color:#D7E8F1;
}
.facebook img{
	height: 50%;
	width: 50%;
}
.room {
	
}

.outside {
	padding-top: 50px;
}
.link{
	font-size: 14px;
	color:#1B437A;
	margin-top: 30px;
}

}
small{
	color:#D7E8F1;
}
.footer-menu li{
     list-style:none;
     display:inline-block;
     float: left;
     font-size: 12px;
	   color:#1B437A;

}

.block{
	color:#D7E8F1; 
	background:#D7E8F1;
  
    display:block;
    border:none;
    height:6px;
    width:6px;
    line-height:0;
    margin:7px 6px;
    -moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	-moz-transition: all 0.3s ease;
 	-o-transition: all 0.3s ease;
 	-webkit-transition: all 0.3s ease;
 	transition: all 0.3s ease; 
}
form{
  color:#D7E8F1;
  width: 320px;
  margin: 30px auto;
  font-size: 16px;
  transform: translateZ(0);
}
form .field {
  position: relative;
  margin-bottom: 10px;
  height: 40px;
}
.form .field .placeholder-label {
  position: absolute;
  top: 14px;
  left: 12px;
  font-weight: 300;
  color: #aaa;
  cursor: text;
  z-index: 200;
  transition: all 0.25s;
}
.form .field .placeholder-label:after {
  content: ":";
  opacity: 0;
  color: #333;
  transition: all 0.25s;
}
.form .field .placeholder-input {
  position: absolute;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 16px;
  z-index: 100;
  transition: all 0.25s;
}
.form .field .placeholder-input:focus, .form .field .placeholder-input.not-empty {
  margin-left: 100px;
  width: 220px;
  outline: none;
}
.form .field .placeholder-input:focus + .placeholder-label, .form .field .placeholder-input.not-empty + .placeholder-label {
  color: #333;
  cursor: default;
}
.form .field .placeholder-input:focus + .placeholder-label:after, .form .field .placeholder-input.not-empty + .placeholder-label:after {
  opacity: 1;
}

}



