@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

dl a {
	font-family: 'PT Sans', sans-serif; font-weight:700;
	font-size:14px;
}

dl div, dl li {
	font-family: 'PT Sans', sans-serif; font-weight:400;
	font-size:12px;
}



.map-overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px;
   top:480px;
   margin-top:-480px;
}


/*Tab Styling*/
.tabs dd, .tabs .tab-title {
  border-right: 2px solid #fff;
  position:relative;
}

.tabs dd > a, .tabs .tab-title > a {
  background-color: #182F4E;
  color: #fff;
  border-bottom: 7px solid;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background-color: #182F4E;
  color: #fff;
  border-bottom:7px solid #C05A44;
}

.tabs dd.active a:after, .tabs .tab-title.active a:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 40%;
  width: 20%;
  height: 0;
  border-color: #C05A44 transparent transparent transparent;
  border-style: solid;
  border-width: 15px;
}

.tab-title {
	width:20%;
}

.tabs {
  margin-bottom: 0 !important;
   }
   
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs dd, .tabs .tab-title {
    position: relative;
    margin-bottom: 0 !important;
    list-style: none;
    float: left; }
    .tabs dd > a, .tabs .tab-title > a {
      display: block;
      background-color: #182F4E;
      color: #222222;
      padding: 1rem;
	  padding-bottom:.75rem;
      font-family: PT Sans, sans serif;
      font-size: 1rem; }
      .tabs dd > a:hover, .tabs .tab-title > a:hover {
        background-color: #1f3654; }
      .tabs dd > a:focus, .tabs .tab-title > a:focus {
        outline: none; }
    .tabs dd.active a, .tabs .tab-title.active a {
      background-color: #182F4E;
      color: #222222; }
	  
.tab-title a h2 {
	font-size:20px;
	color:white;
	text-align:center
}

.customer-support-feature {
	padding-top:20px;
}

.our-company {
	padding-top:20px;
	padding-bottom:20px;
}

.our-service-feature {
	padding-top:20px;
	padding-bottom:20px;
}
	
/*Footer styles*/
footer h2, footer a {
	font-size:13px;
}

footer p{
	font-size:12px;
}

form {
	font-size:12px;
}


	 
/*Hero Image Styles*/

      #homepage-hero {
        background: url(../images/temp-hero.jpg) #D7E8F1;
        height: 550px;
        text-align: left;
        position: relative;
        padding: 60px 20px 0 20px; 
      }
      @media screen and (max-width: 768px) {
        #homepage-hero {
          padding: 40px 5px 30px 5px; } }
      @media screen and (max-width: 1024px) {
        #homepage-hero {
          height: 500px; } }
      @media screen and (max-width: 768px) {
        #homepage-hero h1 {
          font-size: 50px; } }

      #homepage-hero .text-center {
        position: absolute;
        margin-left:-20px; /*compensates for padding in hero*/
        bottom: 20px;
        width: 100%;
        font-size: 3rem;
      	text-transform: uppercase;
      	line-height: 3.25rem;
      	color: #C05A44;
      	text-align: center;
      	font-weight: bolder; /*change this later to font bold if available, not faux bold*/
      }
	  
	     #our-service-hero {
        background: url(../images/our-service-hero.jpg) #D7E8F1;
        height: 550px;
        text-align: left;
        position: relative;
        padding: 60px 20px 0 20px; 
      }
      @media screen and (max-width: 768px) {
        #our-service-hero {
          padding: 40px 5px 30px 5px; } }
      @media screen and (max-width: 1024px) {
        #our-service-hero {
          height: 500px; } }
      @media screen and (max-width: 768px) {
        #our-service-hero h1 {
          font-size: 50px; } }

      #our-service-hero .text-center {
        position: absolute;
        margin-left:-20px; /*compensates for padding in hero*/
        bottom: 20px;
        width: 100%;
        font-size: 3rem;
      	text-transform: uppercase;
      	line-height: 3.25rem;
      	color: #C05A44;
      	text-align: center;
      	font-weight: bolder; /*change this later to font bold if available, not faux bold*/
      }


 #customer-support-hero {
        background: url(../images/temp-hero.jpg) #D7E8F1;
        height: 550px;
        text-align: left;
        position: relative;
        padding: 60px 20px 0 20px; 
      }
      @media screen and (max-width: 768px) {
        #customer-support-hero {
          padding: 40px 5px 30px 5px; } }
      @media screen and (max-width: 1024px) {
        #customer-support-hero {
          height: 500px; } }
      @media screen and (max-width: 768px) {
        #customer-support-hero h1 {
          font-size: 50px; } }

      #customer-support-hero .text-center {
        position: absolute;
        margin-left:-20px; /*compensates for padding in hero*/
        bottom: 20px;
        width: 100%;
        font-size: 3rem;
      	text-transform: uppercase;
      	line-height: 3.25rem;
      	color: #C05A44;
      	text-align: center;
      	font-weight: bolder; /*change this later to font bold if available, not faux bold*/
      }

      /* commenting this out for later *//*
      @media only screen and (max-width: 40em) {
        #homepage-hero .floatingyeti img {
          width: 100%;
          position: relative;
          right: 0;
          bottom: 0px;
          top: 0px;
          left: 120px; } }
      @media only screen and (min-width:40.063em) and (max-width:64em) {
        #homepage-hero .floatingyeti img {
          width: 100%;
          position: absolute;
          right: 0;
          bottom: 0px; } }*/
		  
.three-links-row {
	background-color:#1B437A;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
}

.pick-up {
	background-color:#D7E8F1;
}

#pick-up {
	padding-top:10px;
}

.row {
  max-width:none;
}

.accordion {
	padding-bottom:20px;
}

.accordion .accordion-navigation > a, .accordion dd > a {
      background: #1B437A;
      color: white;
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
        background: #204E8C; }
		
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
      background: #182F4E; }

@media only screen and (min-width: 40.063em) { 
.triangle-home {
  /**/ overflow: hidden; /**/
  /** outline: solid 1px red; /**/
  margin-top:0;
  width: 14.289em; height: 16.5em;
  transform: rotate(60deg) skewY(30deg);
  margin-left:-15px;
}
.triangle-home:before {
  display: block; /* to be able to apply width/ height/ transform */
  width: inherit; height: inherit;
  transform: skewY(-30deg) rotate(60deg) translate(50%);
  
  background: url(../images/home-our-company.jpg);
  background-size: cover;
  content: '';
}
}

@media only screen and (min-width: 64.063em) { 
.triangle-home {
  /**/ overflow: hidden; /**/
  /** outline: solid 1px red; /**/
  margin-top:-120px;
  width: 25em; height: 30em;
  transform: rotate(60deg) skewY(30deg);
  margin-left:-15px;
  margin-bottom:110px;
}
.triangle-home:before {
  display: block; /* to be able to apply width/ height/ transform */
  width: inherit; height: inherit;
  transform: skewY(-30deg) rotate(60deg) translate(50%);
  
  background: url(../images/home-our-company.jpg);
  background-size: cover;
  content: '';
}
}

@media only screen and (min-width: 40.063em) { 
.triangle-support-top {
  /**/ overflow: hidden; /**/
  /** outline: solid 1px red; /**/
  margin-top:0;
  width: 14.289em; height: 16.5em;
  transform: rotate(60deg) skewY(30deg);
  margin-left:-15px;
}
.triangle-support-top:before {
  display: block; /* to be able to apply width/ height/ transform */
  width: inherit; height: inherit;
  transform: skewY(-30deg) rotate(60deg) translate(50%);
  
  background:url(../images/customer-support-questions.jpg);
  background-size: cover;
  content: '';
}
}

@media only screen and (min-width: 64.063em) { 
.triangle-support-top {
  /**/ overflow: hidden; /**/
  /** outline: solid 1px red; /**/
  margin-top:-120px;
  width: 25em; height: 30em;
  transform: rotate(60deg) skewY(30deg);
  margin-left:-15px;
  margin-bottom:110px;
}
.triangle-support-top:before {
  display: block; /* to be able to apply width/ height/ transform */
  width: inherit; height: inherit;
  transform: skewY(-30deg) rotate(60deg) translate(50%);
  
  background:url(../images/customer-support-questions.jpg);
  background-size: cover;
  content: '';
}
}

@media only screen and (min-width: 40.063em) { 
.triangle-support-bottom {
  /**/ overflow: hidden; /**/
  /** outline: solid 1px red; /**/
  margin-top:80px;
  margin-right:0;
  width: 14.289em; height: 16.5em;
  transform: rotate(-120deg) skewY(30deg);
}
.triangle-support-bottom:before {
  display: block; /* to be able to apply width/ height/ transform */
  width: inherit; height: inherit;
  transform: skewY(-30deg) rotate(60deg) translate(50%);
  
  background:url(../images/customer-support-map.jpg);
  background-size: cover;
  content: '';
}
}

@media only screen and (min-width: 64.063em) { 
.triangle-support-bottom {
  /**/ overflow: hidden; /**/
  /** outline: solid 1px red; /**/
  margin-top:150px;
  margin-bottom:-100px;
  width: 27.712em; height: 32em;
  transform: rotate(-120deg) skewY(30deg);
}
.triangle-support-bottom:before {
  display: block; /* to be able to apply width/ height/ transform */
  width: inherit; height: inherit;
  transform: skewY(-30deg) rotate(60deg) translate(50%);
  
  background: url(../images/customer-support-map.jpg);
  background-size: cover;
  content: '';
}
}

@media only screen and (max-width: 40em) {
	.tab-title a h2 {
		font-size:11px;
	}
}


	
	  
